@using CHCRemerasApp.Models;
@using CHCRemerasApp.ViewsModel;

@{
    Layout = null;
}

@model ClientesViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Cliente</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/estilosGaleria.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="~/Content/EstilosTitulo.css" rel="stylesheet" />

    <script language="JavaScript">

        function pregunta() {

            var bandera = true;

            if (document.getElementById("cliente_nombre").value == "") {
                bandera = false;
            }

            if (document.getElementById("cliente_nombre_usuario").value == "") {
                bandera = false;
            }

            if (document.getElementById("cliente_edad").value == "") {
                bandera = false;
            }

            if (document.getElementById("cliente_email").value == "") {
                bandera = false;
            }

            if (document.getElementById("cliente_telefono").value == "") {
                bandera = false;
            }

            if (bandera == false) {
                swal("Atención!", "Todos los campos son obligatorios", "error");
            } else {

                swal({
                    title: "Guardar cambios?",
                    text: "Esta seguro de guardar los cambios?",
                    icon: "info",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("Cliente editado con exito!!", {
                                icon: "success",
                            });
                            setTimeout(function () { document.getElementById("formulario").submit() }, 1000);

                        } else {
                            swal("Los cambios no se guardaron");
                        }
                    });

            }
        }

        function Cancelar() {

            swal({
                title: "Seguro desea Cancelar?",
                text: "No se guardarán los cambios realizados",
                icon: "error",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        location.href = "/Clientes/MostrarClientes"
                    } else {
                        //swal("Your imaginary file is safe!");
                    }
                });
        }

        function deshabilitaRetroceso() {
            window.location.hash = "no-back-button";
            window.location.hash = "Again-No-back-button" //chrome
            window.onhashchange = function () { window.location.hash = "no-back-button"; }
        }

    </script>



</head>
<body onload="deshabilitaRetroceso()">


    <div>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/Clientes/MostrarClientes">Volver</a> </li>
        </ul>
    </div>



    <h1 class='retroshadow'>Editar Cliente</h1>

    <div>

        <table class="table">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formulario" }))
            {
                <tr>
                    <td>Id Cliente</td>
                    <td>@Html.TextBoxFor(c => c.cliente.id_cliente, new { @readonly = true })</td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td>@Html.TextBoxFor(c => c.cliente.nombre)</td>
                </tr>

                <tr>
                    <td>Nombre Usuario</td>
                    <td>@Html.TextBoxFor(c => c.cliente.nombre_usuario)</td>
                </tr>

                <tr>
                    <td>Edad</td>
                    <td>@Html.TextBoxFor(c => c.cliente.edad)</td>
                </tr>

                <tr>
                    <td>Sexo</td>
                    <td>@Html.DropDownListFor(c => c.cliente.sexo, new SelectList(Model.listaSexos, "id_sexo", "descripcion"))</td>
                </tr>

                <tr>
                    <td>Ciudad</td>
                    <td>@Html.DropDownListFor(c => c.cliente.id_ciudad, new SelectList(Model.listaCiudades, "id_ciudad", "nombre"))</td>
                </tr>

                <tr>
                    <td>E- Mail</td>
                    <td>@Html.TextBoxFor(c => c.cliente.email)</td>
                </tr>


                <tr>
                    <td>Telefono</td>
                    <td>@Html.TextBoxFor(c => c.cliente.telefono)</td>
                </tr>


                <tr>
                    <td>Estado</td>
                    <td>@Html.DropDownListFor(c => c.cliente.id_estado, new SelectList(Model.listaEstados, "id_estado", "descripcion"))</td>
                </tr>

                <tr>
                    <td></td>
                    <td><input class="btn btn-info" onclick="pregunta()" value="Actualizar" /></td>
                </tr>

            }

        </table>

    </div>




    <input value="Cancelar" class="btn btn-danger" onclick="Cancelar()" />
    <br /><br /><br />

</body>
</html>
